<div>
<img src='images/beer.png' alt='beer cartoon'/>

<button type="button" class="btn btn-outline-light"><a href="/beers">Check the Beers!</a></button>

<button type="button" class="btn btn-outline-light"><a href="/random-beer">Check a Random Beer</a></button>
</div>