<div>
<img src='../public/images/beer.png' alt='beer cartoon'/>

<button href="/beers" type="button" class="btn btn-outline-light">Check the Beers!</button>

<button href="/random-beer" type="button" class="btn btn-outline-light">Check a Random Beer</button>
</div>